.theme-button {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 150px;
    height: 75px;
    margin-top: -37.5px;
    margin-left: -75px;
    font-size: 36px;
    color: #fff;
    text-decoration: none;
    background-color: #242424;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}
.dark-theme .theme-button {
    background-color: #000;
}
