/* Define the different themes */
.light-theme {
	background-color: #f2f2f2;
	color: #000;
}

.dark-theme {
	background-color: #252525;
	color: #fff;
}

/* Define a common parent class for both buttons */
.switch {
	display:
